
/* styles.css */

/* Styles for the header container */
.header-container {
    background-color: #fff; /* Change to your desired background color */
    color: purple; /* Text color */
    padding: 20px; /* Padding around the header content */
    text-align: left; /* Center-align the content */
    border-radius: 15px; /* Add rounded borders */
    max-width: 1400px; /* Set a maximum width */
    margin: 20px auto 0; /* Center the container horizontally and add 20px margin to the top */
  }
  
  
  /* Styles for the header title (h1) */
  .header-container h1 {
    text-align: left;
    color: black;
    font-size: 36px; /* Adjust the font size */
    margin: 5; /* Remove margin to prevent spacing */
  }

  .header-container p {
    color: black;
  }
  
  /* Styles for the quote container */
  .quote-container {
    margin-top: 30px; /* Add space between the header and quote */
  }
  
  /* Styles for the quote text (p) */
  .quote-container p {
    font-size: 20px; /* Adjust the font size */
  }
  
  /* Styles for the quote (blockquote) */
  .quote-container blockquote {
    font-style: italic; /* Italicize the quote text */
    font-size: 60px; /* Adjust the font size */
    margin-top: 7px; /* Add space above the quote */
  }
  
  /* styles.css */

.image-container {
    position: relative;
    width: 100%;
    max-width: 900px; /* Set the desired maximum width for the image */
    margin: 0 auto;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; /* Position text vertically in the middle */
    left: 30%; /* Position text horizontally in the middle */
    transform: translate(-50%, -50%); /* Center text both vertically and horizontally */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  